.results-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, calc(33.33% - 10px));
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 50px;
}

.loader-container {
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .results-container {
    grid-template-columns: repeat(2, calc(50% - 7.5px));
  }
}
